<%- include("../partials/header") -%>
<div class="container-fluid">
  <div id="content-wrap">
  <div class="row">

    <div class="col-lg-8 col-lg-offset-2">
      <H1>About</H1>
      <p><%- Content %></p>
     
      
    </div>
  </div>
</div>
</div>

<%- include("../partials/footer.ejs") -%>
