<%- include("../partials/header") -%>

<div class="container">
  <div class="row">

    <div class="col-lg-8 col-lg-offset-2">
      <H1><%=title%></H1>
      <img class="img" src="/images/lions.jpg" alt="black Panther">
      <p class="fs-1"><%=body%></p>
      
      
  </div>
  </div>
</div>
<%- include("../partials/footer.ejs") -%>
